* {
margin: 0%;
padding: 0%;
}

.cabeçalho{
background-color: lemonchiffon;
color: black;
font-size: 20px;
}

.cabeçalho_imagem{
width: 12%;
}

.cabeçalho_titulo{
font-size: 70px;
}

.cabeçalho_lista_item{
margin: 25px 0px 25px 0px;
font-size: 50px;
}

.apresentaçao_trabalho{
background-image: linear-gradient(rgb(250, 255, 205), #dd371a);
}

.titulo_apresentaçao_trabalho{
font-size: 50px;
}

.FOTOS{
width: 15%;
}

.FOTOS{
width: 15%;
}